body{
  width: 400px;
  padding: 3rem 0.8rem;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', 'Noto Sans JP',sans-serif;
}
.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
  font-weight: bold;
}
.label-inline{
  font-weight: 300;
  width: 90%;
}
.checkboxWrapper{
  display: flex;
  width: 100%;
  align-items: baseline;
}
.checkboxWrapper input{
  width: 1.5rem;
}
.checkboxWrapper .label-inline{
  flex: 1;
}
.checkboxWrapper:hover{
  opacity: 0.5;
}
.allTab.button{
  width: auto;
  height: 2rem;
  line-height: 1;
  margin-bottom: 2rem;
  padding-left: 2rem;
}
.accept{
  text-align: center;
}
.first{
  display: none;
}
.icons{
  vertical-align: text-top;
  margin-right: 0.3em;
}
.title{
  border-bottom: 8px solid #b699c7;
  padding-bottom: 4px;
  box-sizing: border-box;
}
body.noaccept .first{
  display: block;
}
body.noaccept .settings{
  display: none;
}